@model List<PizzaViewModel>

<partial name="~/Views/Shared/Partials/_PizzaGreeting.cshtml" />

<h1>@ViewData["Title"]</h1>


<ul>
    @foreach(var pizza in Model)
    {
    <li>
        <p>@pizza.PizzaName</p>
        <p><a asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">More Info</a></p>
    </li>
    }
</ul>


